<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-tencentcloud-index") %>>
                    <a href="/docs/providers/tencentcloud/index.html">TencentCloud Provider</a>
                </li>

                <li<%= sidebar_current("docs-tencentcloud-datasource") %>>
                <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-tencentcloud-datasource-availability-zones") %>>
                        <a href="/docs/providers/tencentcloud/d/availability_zones.html">tencentcloud_availability_zones</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-container-clusters-x") %>>
                        <a href="/docs/providers/tencentcloud/d/container_clusters.html">tencentcloud_container_clusters</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-container-cluster-instances") %>>
                        <a href="/docs/providers/tencentcloud/d/container_cluster_instances.html">tencentcloud_container_cluster_instances</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-eip") %>>
                        <a href="/docs/providers/tencentcloud/d/eip.html">tencentcloud_eip</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-image") %>>
                        <a href="/docs/providers/tencentcloud/d/image.html">tencentcloud_image</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-instance-types") %>>
                        <a href="/docs/providers/tencentcloud/d/instance_types.html">tencentcloud_instance_types</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-nats") %>>
                        <a href="/docs/providers/tencentcloud/d/nats.html">tencentcloud_nats</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-route-table") %>>
                        <a href="/docs/providers/tencentcloud/d/route_table.html">tencentcloud_route_table</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-security-group") %>>
                        <a href="/docs/providers/tencentcloud/d/security_group.html">tencentcloud_security_group</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-subnet") %>>
                        <a href="/docs/providers/tencentcloud/d/subnet.html">tencentcloud_subnet</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-datasource-vpc") %>>
                        <a href="/docs/providers/tencentcloud/d/vpc.html">tencentcloud_vpc</a>
                        </li>
						<li<%= sidebar_current("docs-tencentcloud_mysql_backup_list") %>>
                        <a href="/docs/providers/tencentcloud/d/mysql_backup_list.html">tencentcloud_vpc</a>
                        </li>
						<li<%= sidebar_current("docs-tencentcloud_mysql_instance") %>>
                        <a href="/docs/providers/tencentcloud/d/mysql_instance.html">tencentcloud_vpc</a>
                        </li>
						<li<%= sidebar_current("docs-tencentcloud_mysql_parameter_list") %>>
                        <a href="/docs/providers/tencentcloud/d/mysql_parameter_list.html">tencentcloud_vpc</a>
                        </li>
						<li<%= sidebar_current("docs-tencentcloud_mysql_zone_config") %>>
                        <a href="/docs/providers/tencentcloud/d/mysql_zone_config.html">tencentcloud_vpc</a>
                        </li>
                     
                    </ul>
                </li>

                <li<%= sidebar_current("docs-tencentcloud-resource-cbs") %>>
                    <a href="#">CBS Resources</a>
                    <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-tencentcloud-resource-cbs-storage-x") %>>
                      <a href="/docs/providers/tencentcloud/r/cbs_storage.html">tencentcloud_cbs_storage</a>
                      </li>
                      <li<%= sidebar_current("docs-tencentcloud-resource-cbs-storage-attachment") %>>
                      <a href="/docs/providers/tencentcloud/r/cbs_storage_attachment.html">tencentcloud_cbs_storage_attachment</a>
                      </li>
                      <li<%= sidebar_current("docs-tencentcloud-resource-cbs-snapshot") %>>
                      <a href="/docs/providers/tencentcloud/r/snapshot.html">tencentcloud_cbs_snapshot</a>
                      </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-tencentcloud-resource-container-cluster") %>>
                    <a href="#">Container Cluster Resources</a>
                    <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-tencentcloud-container-cluster-x") %>>
                      <a href="/docs/providers/tencentcloud/r/container_cluster.html">tencentcloud_container_cluster</a>
                      </li>
                      <li<%= sidebar_current("docs-tencentcloud-container-cluster-instance") %>>
                      <a href="/docs/providers/tencentcloud/r/container_cluster_instance.html">tencentcloud_container_cluster_instance</a>
                      </li>
                     
                    </ul>
                </li>
                                
                <li<%= sidebar_current("docs-tencentcloud-resource-cvm") %>>
                    <a href="#">CVM Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-tencentcloud-resource-cvm-eip-x") %>>
                        <a href="/docs/providers/tencentcloud/r/eip.html">tencentcloud_eip</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-cvm-eip-association") %>>
                        <a href="/docs/providers/tencentcloud/r/eip_association.html">tencentcloud_eip_association</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-cvm-instance") %>>
                        <a href="/docs/providers/tencentcloud/r/instance.html">tencentcloud_instance</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-cvm-key-pair") %>>
                        <a href="/docs/providers/tencentcloud/r/key_pair.html">tencentcloud_key_pair</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-tencentcloud-resource-lb") %>>
                    <a href="#">LB Resources</a>
                    <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-tencentcloud-resource-lb-server-attachment") %>>
                      <a href="/docs/providers/tencentcloud/r/alb_server_attachment.html">tencentcloud_alb_server_attachment</a>
                      </li>
                      <li<%= sidebar_current("docs-tencentcloud-resource-lb-x") %>>
                      <a href="/docs/providers/tencentcloud/r/lb.html">tencentcloud_lb</a>
                      </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-tencentcloud-resource-vpc") %>>
                    <a href="#">VPC Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-tencentcloud-resource-vpc-dnat") %>>
                        <a href="/docs/providers/tencentcloud/r/dnat.html">tencentcloud_dnat</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-vpc-nat-gateway") %>>
                        <a href="/docs/providers/tencentcloud/r/nat_gateway.html">tencentcloud_nat_gateway</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-vpc-route-entry") %>>
                        <a href="/docs/providers/tencentcloud/r/route_entry.html">tencentcloud_route_entry</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-vpc-route-table") %>>
                        <a href="/docs/providers/tencentcloud/r/route_table.html">tencentcloud_route_table</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-vpc-security-group-x") %>>
                        <a href="/docs/providers/tencentcloud/r/security_group.html">tencentcloud_security_group</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-vpc-security-group-rule") %>>
                        <a href="/docs/providers/tencentcloud/r/security_group_rule.html">tencentcloud_security_group_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-vpc-subnet") %>>
                        <a href="/docs/providers/tencentcloud/r/subnet.html">tencentcloud_subnet</a>
                        </li>
                        <li<%= sidebar_current("docs-tencentcloud-resource-vpc-x") %>>
                        <a href="/docs/providers/tencentcloud/r/vpc.html">tencentcloud_vpc</a>
                        </li>
                    </ul>
                </li>
				
				
                <li<%= sidebar_current("docs-tencentcloud-resource-mysql") %>>
                    <a href="#">Mysql Resources</a>
                    <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-tencentcloud-resource-mysql-account") %>>
                      <a href="/docs/providers/tencentcloud/r/mysql_account.html">tencentcloud_mysql_account</a>
                      </li>
                      <li<%= sidebar_current("docs-tencentcloud-resource-mysql-account-privilege") %>>
                      <a href="/docs/providers/tencentcloud/r/mysql_account_privilege.html">tencentcloud_mysql_account_privilege</a>
                      </li>
					 <li<%= sidebar_current("docs-tencentcloud-resource-mysql-backup-policy") %>>
                      <a href="/docs/providers/tencentcloud/r/mysql_backup_policy.html">tencentcloud_mysql_backup_policy</a>
                      </li>
					 <li<%= sidebar_current("docs-tencentcloud-resource-mysql-instance") %>>
                      <a href="/docs/providers/tencentcloud/r/mysql_account.html">tencentcloud_mysql_instance</a>
                      </li>
					 <li<%= sidebar_current("docs-tencentcloud-resource-mysql-account-privilege") %>>
                      <a href="/docs/providers/tencentcloud/r/mysql_account_privilege.html">tencentcloud_mysql_account_privilege</a>
                      </li>
					 <li<%= sidebar_current("docs-tencentcloud-resource-mysql-readonly-instance") %>>
                      <a href="/docs/providers/tencentcloud/r/mysql_readonly_instance.html">tencentcloud_mysql_readonly_instance</a>
                      </li>
                    </ul>
                </li>
				
    
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
